@import 'variables';

/* Armatupc */

/* Armatupc */
.armatupc__main {
    background-color: #E4FFF0;
}

.armatupc__body {
    box-sizing: content-box;
    *{
        box-sizing: content-box;
    }
}
.armatupc__main__section {
    margin: 30px;
    font-family: $font-family;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.armatupc__article__flex {
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    .armatupc__article__titulo {
        font-weight: $weight-titulo;
        font-size: $size-titulo;
        margin: 30px 5% 20px 5%;
    }
    .armatupc__article__subtitulo {
        font-weight: $weight-subTitulo;
        font-size: $size-subtitulo;
        margin: 0 10% 20px 10%;
    }
    .armatupc__article__parrafo {
        font-weight: $weight-parrafo;
        font-style: $style-italic;
        font-size: $size-parrafo;
        margin: 0 15% 0 15%;
    }
} 

.armatupc__main__aside {
    width: 50vw;
    overflow: hidden;
    margin: 35px;
}

.armatupc__section__flex {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}

.armatupc__aside__flex {
    display: flex;
    justify-content: center;
}

.armatupc__aside__form {
    font-size: 15px;
    font-family: $font-family;
    margin: 0px 0px 50px 0px;
    padding: 0 50px 0 50px;
    height: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    background-color: #d7fbe8;
    border: 2px solid #BAE6CF;
    box-shadow: 3px 3px 11px 0 rgba(0, 0, 0, 0.5);
}

.armatupc__aside__datosUsuario {
    display: flex;
    justify-content: space-between;
    width: 80vw;
    height: 40px;
    margin: 20px 0px 0px 0px;
}

.armatupc__aside__datosUsuario input {
    width: 80%;
    text-align: center;
    margin: 0px 10px;
}

.armatupc__aside__selectComponentes {
    display: flex;
    width: 800px;
    height: 160px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    text-align: center;
    margin: 0px 0px 20px 0px;
}

.armatupc__aside__botones {
    display: flex;
    justify-content: space-around;
    width: 300px;
    height: 50px;
    margin: 0px 0px 20px 0px;
}

.armatupc__aside__nombre {
    font-size: 20px;
    font-family: $font-family;
    width: 270px;
    margin: 0px 0px 0px 0px;
}

.armatupc__aside__telefono {
    font-size: 20px;
    font-family: $font-family;
    width: 270px;
}

.armatupc__aside__email {
    font-size: 20px;
    font-family: $font-family;
    width: 270px;
}

.armatupc__aside__select {
    font-size: 18px;
    font-family: $font-family;
    width: 350px;
    height: 40px;
    text-align: center;
}

.armatupc__aside__select__pais {
    font-size: 18px;
    font-family: $font-family;
    text-align: center;
    width: 350px;
    height: 40px;
    margin: 0px 0px 30px 0px;
}

.armatupc__aside__comprar {
    font-size: 15px;
    font-family: $font-family;
    background-color: #d7fbe8;
    border: 2px solid #BAE6CF;
    box-shadow: 3px 3px 11px 0 rgba(0, 0, 0, 0.5);
    width: 120px;
    height: 50px;
}

.armatupc__aside__comprar:hover {
    color: #1d0000;
    box-shadow: 0 4px 16px #dba5a5;
    transition: all 0.2s ease;
}

.armatupc__aside__comprar:active {
    background-color: #fd6868;
    color: white;
    transition: all 0.2s ease;
}

.armatupc__aside__restablecer {
    font-size: 15px;
    font-family: $font-family;
    background-color: #d7fbe8;
    border: 2px solid #BAE6CF;
    box-shadow: 3px 3px 11px 0 rgba(0, 0, 0, 0.5);
    margin: 0px 0px 0px 0px;
    width: 120px;
    height: 50px;
}

.armatupc__aside__restablecer:hover {
    color: #1d0000;
    box-shadow: 0 4px 16px #dba5a5;
    transition: all 0.2s ease;
}

.armatupc__aside__restablecer:active {
    background-color: #fd6868;
    color: white;
    transition: all 0.2s ease;
}
.carousel{
    height: 100%;
}

.carousel-indicators {
    position: relative;
    margin-top: 10px;
    li{
        background-color: black;
    }
}


/* // Armatupc */