@import 'variables';

/* Contacto */

/* Main */


.contacto__main {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 700px;
    grid-template-columns: 60% 40%;
    grid-template-rows: 30% 20% 10% 40%;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "texto__contacto formulario__contacto"
        "texto__contacto formulario__contacto"
        "texto__contacto formulario__contacto"
        "mapa__contacto formulario__contacto";
    background-color: $color-fondo;
    padding: 30px 0 30px 0;
}


/* Section */


.contacto__section__mapa {
    box-shadow: 3px 3px 11px 0 rgba(0, 0, 0, 0.5);
    margin: 30px 0;
    width: 390px;
    height: auto;
}

.mapa__contacto {
    grid-area: mapa__contacto;
}


.contacto__main__section {
    grid-area: texto__contacto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    height: auto;
}

.contacto__section__titulo {
    font-family: $font-family;
    font-weight: $weight-titulo;
    font-size: $size-titulo;
    text-align: center;
    margin-bottom: 10px;
    width: 90%;
}

.contacto__section__parrafo {
    font-family: $font-family;
    font-weight: $weight-parrafo;
    font-size: $size-parrafo;
    font-style: $style-italic;
    text-align: center;
    width: 75%;
}


/* Aside */

.contacto__main__aside {
    grid-area: formulario__contacto;
}

/* Form */

.contacto__main__form {
    @include flex-align-column-center;
    justify-content: space-between;
    margin: 35px 0;
    padding: 30px;
    height: 450px;
    width: 350px;
    background-color: #d7fbe8;
    border: 2px solid #BAE6CF;
    box-shadow: 3px 3px 11px 0 rgba(0, 0, 0, 0.5);

    label{
        font-family: $font-family;
        font-size: 30px;
        margin: 10px 0 5px 0;
    }
    textarea{
        width: 280px;
        height: 100px;
        margin: 15px 0 10px 0;
        font-family: $font-family;
        text-align: center;
    }
    input{
        width: 280px;
        height: 35px;
        font-family: $font-family;
        text-align: center;
    }
}


.contacto__form__buttons {
    display: flex;
    justify-content: space-between;
    width: 280px;
    button {
        background-color: color-boton('secundario');
        font-family: $font-family;
        height: 50px;
        width: 120px;
        border: 1px black ridge;
        font-size: 25px;
        padding: 10px;
    }
}

/* FIN Aside */

/* // Contacto // */