@import 'variables';

/* globlales */


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    /* margen exterior */
    padding: 0;
    /* margen interior */
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    position: relative;
    background-color: $color-fondo;
}

header,
footer {
    z-index: 1;
}

::-webkit-scrollbar {
    width: 0;
    /* Para ocultar la barra vertical */
    height: 0;
    /* Para ocultar la barra horizontal */
}


/* Header */


.header {
    background-color: $color-header-footer;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: 3px 3px 11px 0 rgba(0, 0, 0, 0.5);
}


/*logo*/


.header__img {
    padding: 20px;
    height: 125px;
    width: 225px;
}

.header__nav {
    text-align: center;
    padding: 25px 20px;
    width: 750px;
    box-sizing: border-box;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        list-style: none;

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            list-style: none;
            height: 50px;

            .active {
                background-color: #b7f7d4;
            }

            a {
                display: flex;
                align-items: center;
                text-decoration: none;
                border-radius: 5px;
                color: rgb(0, 0, 0);
                box-shadow: 3px 3px 11px 0 rgba(0, 0, 0, 0.5);
                background-color: color-boton('principal');
                font-family: $font-family;
                height: 40px;
                border: 2px #80bb9b solid;
                font-size: 25px;
                padding: 5px;
            }

            a:hover {
                background-color: #cde8d9;
                box-shadow: 0 4px 16px #67e09e;
                transition: all 0.6s ease;
            }

            a:active {
                background-color: #48a672;
                color: white;
                transition: all 0.2s ease;
            }
        }
    }
}


/* // Header // */


/* Footer */


footer {
    background-color: #a6e9c5;
    height: 25vh;
    display: grid;
    grid-template-columns: 2fr 3fr 1fr;
    grid-template-rows: 1fr;
}

footer a img {
    height: 70px;
    width: 70px;
}

.footer__grid__redes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    margin: 8px 0px 0px 0px;
}

.footer__marca {
    display: flex;
    font-size: 60px;
    font-style: italic;
    align-items: center;
    justify-content: center;
    width: 35vw;
    font-family: none;
    color: black;
}

.footer__parrafo {
    margin: 20px;
    font-size: 25px;
    font-family: 'Mulish', sans-serif;
    display: flex;
    align-items: center;
    color: black;
}


/* Footer */


/* Animaciones */

.animate__animated {
    --animate-duration: 0.8s;
    --animate-delay: 0.5s;
}

/* Fin animaciones */


/* Fin de clases globales */