@import 'variables';

/* Index */


.index__main {
    flex-grow: 1;
    background-color: $color-fondo;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 30px 0 30px 0;
    position: relative;
}

.index__main__section {
    @include flex-align-column-center;
    justify-content: center;
    width: 55vw;
    padding: 20px;
}

.index__section__titulo {
    font-family: $font-family;
    font-weight: $weight-titulo;
    font-size: $size-titulo;
    color: #060611;
    text-align: center;
    margin-bottom: 10px;
}

.index__section__subtitulo {
    font-family: $font-family;
    font-weight: $weight-subTitulo;
    font-size: $size-subtitulo;
    text-align: center;
    margin-bottom: 30px;
}

.index__section__parrafo {
    font-family: $font-family;
    font-weight: $weight-parrafo;
    font-style: $style-italic;
    font-size: $size-parrafo;
    color: #060611;
    text-align: center;
    margin: 25px 0;
    width: 70%;
}

.index__main__aside{
    display: flex;
    align-items: center;
    margin: 30px 0;
}

.index__section__video {
    height: 600px;
    width: 100%;
}


/* // Index // */