@import 'variables';

/* productos */

.productos__main__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    justify-items: center;
    height: auto;
}

.productos__article {
    margin: 30px 0px 0px 0px;
}

.productos__titulo {
    font-family: $font-family;
    font-weight: $weight-titulo;
    font-size: $size-titulo;
    text-align: center;
    margin-bottom: 15px;
}

.productos__parrafo {
    font-family: $font-family;
    font-weight: $weight-parrafo;
    font-style: $style-italic;
    font-size: $size-parrafo;
    text-align: center;
    height: auto;
    width: 80vw;
    margin: 0 10vw;
    margin-bottom: 30px;
}

.productos__aside__grid {
    display: grid;
    width: 90%;
    height: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, (80px 1fr 1fr));
    grid-template-areas: "titulo__placasMadres titulo__placasMadres titulo__procesadores titulo__procesadores"
        "placaMadre1 placaMadre2 procesador1 procesador2"
        "placaMadre3 placaMadre4 procesador3 procesador4"
        "titulo__ram titulo__ram titulo__placasDeVideo titulo__placasDeVideo"
        "ram1 ram2 placaDeVideo1 placaDeVideo2"
        "ram3 ram4 placaDeVideo3 placaDeVideo4"
        "titulo__fuentesDeAlimentacion titulo__fuentesDeAlimentacion titulo__gabinetes titulo__gabinetes"
        "fuenteDeAlimentacion1 fuenteDeAlimentacion2 gabinete1 gabinete2"
        "fuenteDeAlimentacion3 fuenteDeAlimentacion4 gabinete3 gabinete4"
        "titulo__perifericos titulo__perifericos titulo__perifericos titulo__perifericos"
        "mouse1 mouse2 teclado1 teclado2"
        "monitor1 monitor2 monitor3 monitor4"
        "camara1 mousePad1 antena1 pendrive1";
    align-items: center;
    justify-items: center;
    margin-bottom: 30px;
    h2{
        font-family: $font-family;
        font-weight: $weight-subTitulo;
        font-size: 30px;
        margin-top: 35px;
    }
    h3{
        font-family: $font-family;
        font-weight: $weight-subTitulo;
        font-size: 20px;
        margin: 15px;
    }
    h4{
        font-family: $font-family;
        font-weight: $weight-parrafo;
        font-style: $style-italic;
        font-size: 20px;
        margin: 10px;
    }
}

.productos__aside__grid__div {
    background-color: white;
    border: 2px solid #BAE6CF;
    box-shadow: 3px 3px 11px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    align-self: stretch;
    justify-self: stretch;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 15px;
    font-family: $font-family;
    font-size: 20px;
    flex-direction: column;
    img {
        object-fit: cover;
        height: 90%;
        width: 90%;
    }
}
.productos__aside__grid__div:hover {
    color: rgb(23, 199, 108);
    box-shadow: 7px 7px 20px 6px rgba(0, 255, 123, 0.5);
    transition: all 0.2s ease;
}

.productos__grid__titulo__placasMadres {
    grid-area: titulo__placasMadres;
}

.productos__grid__placaMadre1 {
    grid-area: placaMadre1;
}

.productos__grid__placaMadre2 {
    grid-area: placaMadre2;
}

.productos__grid__placaMadre3 {
    grid-area: placaMadre3;
}

.productos__grid__placaMadre4 {
    grid-area: placaMadre4;
}

.productos__grid__titulo__procesadores {
    grid-area: titulo__procesadores;
}

.productos__grid__procesador1 {
    grid-area: procesador1;
}

.productos__grid__procesador2 {
    grid-area: procesador2;
}

.productos__grid__procesador3 {
    grid-area: procesador3;
}

.productos__grid__procesador4 {
    grid-area: procesador4;
}

.productos__grid__titulo__ram {
    grid-area: titulo__ram;
}

.productos__grid__ram1 {
    grid-area: ram1;
}

.productos__grid__ram2 {
    grid-area: ram2;
}

.productos__grid__ram3 {
    grid-area: ram3;
}

.productos__grid__ram4 {
    grid-area: ram4;
}

.productos__grid__titulo__placasDeVideo {
    grid-area: titulo__placasDeVideo;
}

.productos__grid__placaDeVideo1 {
    grid-area: placaDeVideo1;
}

.productos__grid__placaDeVideo2 {
    grid-area: placaDeVideo2;
}

.productos__grid__placaDeVideo3 {
    grid-area: placaDeVideo3;
}

.productos__grid__placaDeVideo4 {
    grid-area: placaDeVideo4;
}

.productos__grid__titulo__fuentesDeAlimentacion {
    grid-area: titulo__fuentesDeAlimentacion;
}

.productos__grid__fuenteDeAlimentacion1 {
    grid-area: fuenteDeAlimentacion1;
}

.productos__grid__fuenteDeAlimentacion2 {
    grid-area: fuenteDeAlimentacion2;
}

.productos__grid__fuenteDeAlimentacion3 {
    grid-area: fuenteDeAlimentacion3;
}

.productos__grid__fuenteDeAlimentacion4 {
    grid-area: fuenteDeAlimentacion4;
}

.productos__grid__titulo__gabinetes {
    grid-area: titulo__gabinetes;
}

.productos__grid__gabinete1 {
    grid-area: gabinete1;
}

.productos__grid__gabinete2 {
    grid-area: gabinete2;
}

.productos__grid__gabinete3 {
    grid-area: gabinete3;
}

.productos__grid__gabinete4 {
    grid-area: gabinete4;
}

.productos__grid__titulo__perifericos {
    grid-area: titulo__perifericos;
}

.productos__grid__mouse1 {
    grid-area: mouse1;
}

.productos__grid__mouse2 {
    grid-area: mouse2;
}

.productos__grid__teclado1 {
    grid-area: teclado1;
}

.productos__grid__teclado2 {
    grid-area: teclado2;
}

.productos__grid__monitor1 {
    grid-area: monitor1;
}

.productos__grid__monitor2 {
    grid-area: monitor2;
}

.productos__grid__monitor3 {
    grid-area: monitor3;
}

.productos__grid__monitor4 {
    grid-area: monitor4;
}

.productos__grid__camara1 {
    grid-area: camara1;
}

.productos__grid__mousePad1 {
    grid-area: mousePad1;
}

.productos__grid__antena1 {
    grid-area: antena1;
}

.productos__grid__pendrive1 {
    grid-area: pendrive1;
}


/* // productos */