@import 'variables';




@media (max-width: 1024px) {

    /* Index */

    .index__main {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .index__main__section {
        width: 80vw;
        text-align: center;
    }

    /* fin Index */
    /* PRODUCTOS*/
    .header__nav {
        margin: 20px 0;
        text-align: center;
        padding: 0 0;
        height: 200;
        width: 150px;
        box-sizing: border-box;

        ul {
            justify-content: center;

            li {
                margin: 10px 0 10px 0;

                a {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }


    .productos__parrafo {
        font-size: 25px;
    }

    .productos__aside__grid {
        display: grid;
        width: 80%;
        height: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, (80px 3fr 3fr));
        grid-template-areas: "titulo__placasMadres titulo__placasMadres"
            "placaMadre1 placaMadre2"
            "placaMadre3 placaMadre4"
            "titulo__procesadores titulo__procesadores"
            "procesador1 procesador2"
            "procesador3 procesador4"
            "titulo__ram titulo__ram"
            "ram1 ram2"
            "ram3 ram4"
            "titulo__placasDeVideo titulo__placasDeVideo"
            "placaDeVideo1 placaDeVideo2"
            "placaDeVideo3 placaDeVideo4"
            "titulo__fuentesDeAlimentacion titulo__fuentesDeAlimentacion"
            "fuenteDeAlimentacion1 fuenteDeAlimentacion2"
            "fuenteDeAlimentacion3 fuenteDeAlimentacion4"
            "titulo__gabinetes titulo__gabinetes"
            "gabinete1 gabinete2"
            "gabinete3 gabinete4"
            "titulo__perifericos titulo__perifericos"
            "mouse1 mouse2" "teclado1 teclado2"
            "monitor1 monitor2" "monitor3 monitor4"
            "camara1 mousePad1" "antena1 pendrive1";
        align-items: center;
        justify-items: center;
    }

    /* FIN PRODUCTOS*/
    /* arma tu pc*/
    .armatupc__main__flex {
        display: flex;
        align-items: center;
        flex-direction: column;
        align-content: center;
    }

    .armatupc__article__flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0px 30px 0px 30px;
    }

    .armatupc__article__titulo {
        font-size: 30px;
        width: auto;
        font-family: $font-family;
        margin: 30px 30px 0px 30px;
    }

    .armatupc__article__parrafo {
        height: auto;
        width: auto;
        font-size: 25px;
        font-family: $font-family;
        margin: 5px 0px 20px 0px;
    }

    .armatupc__article__imagen {
        width: 100%;
        height: auto;
    }


    .armatupc__aside__form {
        font-size: 15px;
        font-family: $font-family;
        margin: 40px 20px 40px 20px;
        padding: 0px 25px 0px 25px;
        width: auto;
        height: 700px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
        background-color: #d7fbe8;
        border: 2px solid #BAE6CF;
        box-shadow: 3px 3px 11px 0 rgba(0, 0, 0, 0.5);
    }

    .armatupc__aside__datosUsuario {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 95%;
        height: 160px;
        margin: 30px 0px 40px 0px;

        input {
            width: 85%;
        }
    }

    .armatupc__aside__selectComponentes {
        display: flex;
        width: 100%;
        height: 300px;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-between;
        margin: 0px 0px 20px 0px;
    }

    .armatupc__aside__botones {
        display: flex;
        justify-content: space-around;
        width: 300px;
        height: 50px;
        margin: 0px 0px 20px 0px;
    }

    .armatupc__aside__nombre {
        font-size: 20px;
        font-family: $font-family;
        width: 100%;
        margin: 0px 0px 0px 0px;
    }

    .armatupc__aside__telefono {
        font-size: 20px;
        font-family: $font-family;
        width: 100%;
    }

    .armatupc__aside__email {
        font-size: 20px;
        font-family: $font-family;
        width: 100%;
    }

    .armatupc__section__flex {
        display: flex;
        text-align: center;
        flex-direction: column;
    }


    .armatupc__main__aside {
        width: 70vw;
        overflow: hidden;
        margin: 35px;
    }

    .carousel-item {
        img {
            width: 100%;
            height: auto;
        }
    }

    /* fin arma tu pc*/

    /* TRAYECTORIA*/
    .trayectoria__main__flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0px 0px 0px 0px;
    }

    .trayectoria__article__flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0px 0px 0px 0px;

    }

    .trayectoria__article__titulo {
        width: 85%;
        font-size: 35px;
        font-family: $font-family;
        margin: 20px 0px 5px 0px;
    }

    .trayectoria__article__parrafo {
        height: auto;
        width: 85%;
        margin: 0px;
        font-size: 25px;
        font-family: $font-family;
    }

    .trayectoria__aside__imagen {
        width: 100%;
        height: auto;
        margin: 30px 20px 50px 20px;
    }

    .trayectoria__aside__flex {
        display: flex;
        justify-content: center;
        margin: 0px 20px 0px 20px;
    }

    /* FIN TRAYECTORIA*/
    /* Contacto */

    .contacto__main {
        align-items: center;
        justify-content: center;
        grid-template-columns: 90%;
        grid-template-rows: 30% 17% 25% 30%;
        grid-template-areas:
            "texto__contacto"
            "mapa__contacto"
            "formulario__contacto"
            "formulario__contacto";
        height: 1300px;
    }

    .contacto__main__form {
        width: 350px;

        label {
            font-size: 22px;
        }
    }

    .contacto__section__mapa {
        margin: 30px 0;
        width: 310px;
        height: auto;
    }

    /* FIN Contacto */
}

@media (max-width: 900px) {

    footer {
        background-color: #a6e9c5;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: auto;
        width: auto;
    }

    .footer__grid__redes {
        display: grid;
        width: 90%;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        align-items: center;
        justify-items: center;
    }

}

@media (max-width: 720px) {

    /* Header */

    .header__nav {
        margin: 20px 0;
        text-align: center;
        padding: 0 0;
        height: 200;
        width: 150px;
        box-sizing: border-box;

        ul {
            justify-content: center;

            li {
                margin: 10px 0 10px 0;

                a {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }


    /* PRODUCTOS*/
    .header__nav {
        margin: 20px 0;
        text-align: center;
        padding: 0 0;
        height: 200;
        width: 150px;
        box-sizing: border-box;

        ul {
            justify-content: center;

            li {
                margin: 10px 0 10px 0;

                a {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    .productos__titulo {
        font-size: 40px;
        font-family: $font-family;
        text-align: center;
    }

    .productos__aside__grid {
        display: grid;
        width: 90%;
        height: auto;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(7, (80px 3fr 3fr));
        grid-template-areas: "titulo__placasMadres titulo__placasMadres"
            "placaMadre1 placaMadre2"
            "placaMadre3 placaMadre4"
            "titulo__procesadores titulo__procesadores"
            "procesador1 procesador2"
            "procesador3 procesador4"
            "titulo__ram titulo__ram"
            "ram1 ram2"
            "ram3 ram4"
            "titulo__placasDeVideo titulo__placasDeVideo"
            "placaDeVideo1 placaDeVideo2"
            "placaDeVideo3 placaDeVideo4"
            "titulo__fuentesDeAlimentacion titulo__fuentesDeAlimentacion"
            "fuenteDeAlimentacion1 fuenteDeAlimentacion2"
            "fuenteDeAlimentacion3 fuenteDeAlimentacion4"
            "titulo__gabinetes titulo__gabinetes"
            "gabinete1 gabinete2"
            "gabinete3 gabinete4"
            "titulo__perifericos titulo__perifericos"
            "mouse1 mouse2" "teclado1 teclado2"
            "monitor1 monitor2" "monitor3 monitor4"
            "camara1 mousePad1" "antena1 pendrive1";
        align-items: center;
        justify-items: center;
    }

    /* FIN DE PRODUCTOS*/

    /* ARMA TU PC*/
    .armatupc__aside__form {
        font-size: 15px;
        font-family: $font-family;
        margin: 40px 15px 40px 15px;
        padding: 0px 10px 0px 10px;
        width: 85vw;
        height: 700px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
        background-color: #d7fbe8;
        border: 2px solid #BAE6CF;
        box-shadow: 3px 3px 11px 0 rgba(0, 0, 0, 0.5);
    }




    .armatupc__aside__selectComponentes {
        display: flex;
        width: 250px;
        height: auto;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-between;
        margin: 0px 0px 0px 0px;
    }

    .armatupc__aside__select {
        font-size: 13px;
        margin: 5px 0px 5px 0px;
    }

    .armatupc__aside__botones {
        display: flex;
        justify-content: space-around;
        width: 260px;
        height: 50px;
        margin: 0px 0px 20px 0px;
    }

    .armatupc__aside__nombre {
        font-size: 20px;
        font-family: $font-family;
        width: 100%;
        height: auto;
        margin: 0px 0px 10px 0px;
    }

    .armatupc__aside__telefono {
        font-size: 20px;
        font-family: $font-family;
        width: 100%;
        margin: 0px 0px 10px 0px;
    }

    .armatupc__aside__email {
        font-size: 20px;
        font-family: $font-family;
        width: 100%;
    }

    .armatupc__aside__select__pais {
        font-size: 18px;
        font-family: $font-family;
        width: 250px;
        height: 40px;
        margin: 0px 0px 30px 0px;
    }

    /* FIN DE ARMA TU PC*/

    /* TRAYECTORIA*/
    .trayectoria__main__flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0px 0px 0px 0px;
    }

    .trayectoria__article__flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0px 0px 0px 0px;
    }

    .trayectoria__article__titulo {
        width: 85%;
        font-size: 35px;
        font-family: $font-family;
        margin: 20px 0px 5px 0px;
    }

    .trayectoria__article__parrafo {
        height: auto;
        width: 85%;
        margin: 0px;
        font-size: 25px;
        font-family: $font-family;
    }

    .trayectoria__aside__imagen {
        width: 100%;
        height: auto;
        margin: 30px 20px 50px 20px;
    }

    .trayectoria__aside__flex {
        display: flex;
        justify-content: center;
        margin: 0px 20px 0px 20px;
    }

    /* FIN TRAYECTORIA*/

    /* Contacto */

    .contacto__main__section {
        padding: 0;
    }

    .contacto__main {
        height: 1500px;
        grid-template-rows: 35% 23% 23% 18%;
    }

    .contacto__main__form {
        width: 350px;
    }

    /* FIN Contacto */

    @media (max-width: 420px) {

        /* Header */

        .footer p {
            font-size: 10px;
        }

        .footer__grid__redes {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }

        .productos__aside__grid {
            grid-template-columns: 1fr;
            /* Esto establece una sola columna */
            grid-template-rows: auto;
            /* Esto ajusta el tamaño de las filas al contenido */
            grid-template-areas:
                "titulo__placasMadres"
                "placaMadre1"
                "placaMadre2"
                "placaMadre3"
                "placaMadre4"
                "titulo__procesadores"
                "procesador1"
                "procesador2"
                "procesador3"
                "procesador4"
                "titulo__ram"
                "ram1"
                "ram2"
                "ram3"
                "ram4"
                "titulo__placasDeVideo"
                "placaDeVideo1"
                "placaDeVideo2"
                "placaDeVideo3"
                "placaDeVideo4"
                "titulo__fuentesDeAlimentacion"
                "fuenteDeAlimentacion1"
                "fuenteDeAlimentacion2"
                "fuenteDeAlimentacion3"
                "fuenteDeAlimentacion4"
                "titulo__gabinetes"
                "gabinete1"
                "gabinete2"
                "gabinete3"
                "gabinete4"
                "titulo__perifericos"
                "mouse1"
                "mouse2"
                "teclado1"
                "teclado2"
                "monitor1"
                "monitor2"
                "monitor3"
                "monitor4"
                "camara1"
                "mousePad1"
                "antena1"
                "pendrive1";
        }

        /* Contacto */

        .contacto__main {
            align-items: center;
            justify-content: center;
            margin: 50px 0;
            grid-template-columns: 90%;
            grid-template-rows: 45% 15% 25% 15%;
            grid-template-areas:
                "texto__contacto"
                "mapa__contacto"
                "formulario__contacto"
                "formulario__contacto";
            height: 1300px;
        }

        .contacto__section__mapa {
            width: 240px;
        }

        .contacto__main__form {
            text-align: center;
            width: 220px;

            label {
                font-size: 20px;
            }

            input {
                width: 200px;
            }

            textarea {
                width: 190px;
                height: 100px;
                margin: 15px 0 10px 0;
                font-family: $font-family;
                text-align: center;
            }
        }

        .contacto__form__buttons {
            display: flex;
            justify-content: space-between;
            width: 200px;

            button {
                background-color: rgb(255, 255, 255);
                font-family: $font-family;
                height: 45px;
                width: 85px;
                border: 1px black ridge;
                font-size: 20px;
                padding: 10px;
            }
        }

        /* FIN Contacto */
    }
}