@import 'variables';

/* trayectoria */


.trayectoria__main__flex {
    flex-grow: 1;
    background-color: $color-fondo;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0 30px 0;
    /*1er num arriba, 2do num derecha, 3er num abajo, 4to num izquierdo */
    position: relative;
}

.trayectoria__article__flex {
    margin: 20px 0;
}

.trayectoria__article__titulo {
    color: #060611;
    font-family: $font-family;
    font-weight: 300;
    font-size: 40px;
    text-align: center;
}

.trayectoria__article__parrafo {
    margin: 25px 0;
    width: 600px;
    height: auto;
    text-align: center;
    font-weight: 200;
    color: #060611;
    font-family: $font-family;
}

.trayectoria__aside__flex {
    margin: 30px;
}

.trayectoria__aside__imagen {
    width: 100%;
    height: auto;
    margin: 30px;

}


/* // trayectoria */