@import 'variables';

/* trayectoria */

.trayectoria__main__flex {
    background-color: $color-fondo;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0 30px 0;
}

.trayectoria__article__flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.trayectoria__article__titulo {
    font-family: $font-family;
    font-weight: $weight-titulo;
    font-size: $size-titulo;
    text-align: center;
    width: 50vw;
    margin: 0 30px;
}

.trayectoria__article__parrafo {
    font-family: $font-family;
    font-weight: $weight-parrafo;
    font-size: $size-parrafo;
    text-align: center;
    margin: 25px 0;
    width: 40vw;
    height: auto;
}

.trayectoria__aside__flex {
    margin: 30px;
}

.trayectoria__aside__imagen {
    width: 100%;
    height: auto;
}


/* // trayectoria */