@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');


$color-fondo:#E4FFF0;
$color-header-footer: #a6e9c5;
$font-family: 'Mulish', sans-serif;
$weight-titulo: 500;
$weight-subTitulo: 400;
$weight-parrafo: 300;
$size-titulo: 40px;
$size-subtitulo: 35px;
$size-parrafo: 30px;
$style-italic: italic;

@mixin flex-align-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@function color-boton($tipo) {
  @if $tipo == 'principal' {
    @return #E4FFF0;
  } @else if $tipo == 'secundario' {
    @return rgb(255, 255, 255);
  } @else {
    @return rgb(234, 234, 234);
  }
}